p {
	text-align:justify; 
	word-break: normal; 
	padding-right: 1em;
}
h1, p {
    font: 14px/1.5 sans-serif;
    margin-bottom: 0;
}

h1 {
    font-weight: bold;
}

p {
    padding-left: 1em;
}

body
{
	background-color: #EFEADE;
	text-shadow: 0px 1px #FFFFFF;
	color: #4C566A;
}