<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>1</integer>
		<key>name</key>
		<string>一教</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>2</integer>
		<key>name</key>
		<string>二教</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>3</integer>
		<key>name</key>
		<string>三教</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>4</integer>
		<key>name</key>
		<string>四教</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>5</integer>
		<key>name</key>
		<string>文史</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>6</integer>
		<key>name</key>
		<string>电教</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>7</integer>
		<key>name</key>
		<string>哲学</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>8</integer>
		<key>name</key>
		<string>物理</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>9</integer>
		<key>name</key>
		<string>地学</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>10</integer>
		<key>name</key>
		<string>技物</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>11</integer>
		<key>name</key>
		<string>外文</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>12</integer>
		<key>name</key>
		<string>体教</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>13</integer>
		<key>name</key>
		<string>数学</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>14</integer>
		<key>name</key>
		<string>化学</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>15</integer>
		<key>name</key>
		<string>电子</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>16</integer>
		<key>name</key>
		<string>理教</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>17</integer>
		<key>name</key>
		<string>电教听力</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>18</integer>
		<key>name</key>
		<string>国关</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>19</integer>
		<key>name</key>
		<string>政管</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>20</integer>
		<key>name</key>
		<string>光华</string>
	</dict>
	<dict>
		<key>Freq</key>
		<integer>0</integer>
		<key>location</key>
		<integer>21</integer>
		<key>name</key>
		<string>理科2号楼</string>
	</dict>
</array>
</plist>
